include tag
include published

- var tagList = _.chain(pubArticles).filter(function(item) {
-   return (item.metadata.tags && item.metadata.tags.length > 0)
- }).map(function(item){ 
-		return item.metadata.tags.split(',')
-	}).flatten().map(function(item){
-		return item.trim()
-	}).union().value()

div.taglist
	h5 Show posts tagged:
	ul.no-bullet
		li.tag
			span.pikto p
				a(href='/') All
		each tagName in tagList
			li.tag
				mixin tag(tagName)
