mixin tag(tagName)
	- var tag = contents.tags[tagName + '.md']
	- var path = '/tags/' + tagName + '.html'
		if tag
			a(href=path)
				span.iconic.paperclip
				span= tag.title
		else
			a(href='')
				span.iconic.x
				span= tagName
