extends layout

block prepend title
	| #{ page.title } - 

block append head
	script(src='/js/moment.min.js')
	script(src='/js/app.js')
	script.
		$(document).ready(function() {
			app.replaceDates();
		}) 

block content
	include includes/author
	.row
		.large-12.columns
			p
			a.back(href='/').button.round.small &larr; back to index

	.row
		.large-12.columns
			div.articlebox
				div.toptitle
					span= page.title
					span#date.right= page.rfc822date
				div.content
					.row
						.large-12.columns          
							section.content
								!= page.html
					p
						| [contact author: 
						mixin author(page.metadata.author) ]
					p

	.row
		.large-12.columns
			p
			a.back(href='/').button.round.small &larr; back to index